---
import Layout from "../layouts/Layout.astro";
import Repositories from "../components/repositories.astro";
import Experiences from "../components/experiences.astro";
---

<Layout>
  <div class="snap-container">
    <Experiences></Experiences>
    <Repositories client:visible></Repositories>
  </div>
  
  <style is:global>
    body,
      html {
        background: linear-gradient(180deg, #050712 0%, #060a19 40%, #01030a 100%);
        overflow: hidden;
      }
    
      h1,
      h2, h3 {
        font-family: Cyberverse, sans-serif;
      }
      .box{
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3px);
      border-radius: 18px;
      border-left: 6px solid #ffb300;
      transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .box:hover {
      transform: perspective(600px) rotateY(8deg) scale(1.03);
    }
  
    .box .content {
      position: relative;
      padding: 1rem 2rem;
      color: #fff;
      max-width: 100%;
      overflow: hidden;
    }

    .sun-title{
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
      background: linear-gradient(
        to right,
        #FFA500,
        #FFD700,
        #FFFFFF,
        #FFFFFF,
        #FFD700
      );
      background-size: 400%;
      background-position: 0% center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: sunFade 4s ease-in-out forwards;
    }
  
    @keyframes sunFade {
      0% {
        background-position: 0% center;
      }
      100% {
        background-position: 100% center;
      }
    }
  </style>
  <style>
      .snap-container {
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 100vh;
        scroll-snap-type: y mandatory;
      }
  </style>
</Layout>
