---
import Layout from "../layouts/Layout.astro";
import Repositories from "../components/repositories.astro";
import Experiences from "../components/experiences.astro";
import Bio from "../components/bio.astro";
import ToolsCostellation from "../components/tools-costellation.astro";
import Hero from "../components/hero.astro";
import { StarComponent } from "../angular/components/star.component";
---

<Layout>
  <div class="snap-container">
    <Hero />
    <ToolsCostellation></ToolsCostellation>
    <Bio></Bio>
    <Experiences></Experiences>
    <Repositories></Repositories>
  </div>
  
  <StarComponent {...({ type: 0 } as any)} />
  <StarComponent {...({ type: 1 } as any)} />
  <StarComponent {...({ type: 2 } as any)} />
  <StarComponent {...({ type: 3 } as any)} />

  <style is:global>
    body,
      html {
        background: linear-gradient(180deg, #050712 0%, #060a19 40%, #01030a 100%);
        overflow: hidden;
      }
    
      h1,
      h2, h3 {
        font-family: Cyberverse, sans-serif;
        z-index: 1;
      }
      .box{
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3px);
      border-radius: 18px;
      border-left: 6px solid #ffb300;
      transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
      position: relative;
      overflow: hidden;
    }
    .box a{
      text-decoration: none;
      color: white;
    }
    .box::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 400%;
      height: 400%;
      background: linear-gradient(
        120deg,
        rgba(255,255,255,0) 0%,
        rgba(173,216,230,0.18) 35%,
        rgba(255,255,255,0.5) 48%,
        rgba(255,255,255,0.85) 52%,
        rgba(255,255,255,0.5) 56%,
        rgba(173,216,230,0.18) 65%,
        rgba(255,255,255,0) 100%
      );
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
      z-index: 2;
      border-radius: 18px;
      transform: translateX(-100%) rotate(10deg);
    }
    .box:not(.not-hoverable):hover::before {
      opacity: 1;
      animation: shine 2.5s forwards;
    }
    @keyframes shine {
      0% {
        transform: translateX(-100%) rotate(10deg);
      }
      100% {
        transform: translateX(100%) rotate(10deg);
      }
    }
  
    .box .content {
      position: relative;
      padding: 1rem 2rem;
      color: #fff;
      max-width: 100%;
      overflow: hidden;
      display: block;
    }

    .sun-title{
      font-size: 2.5rem;
      text-align: center;
      font-weight: bold;
      background: linear-gradient(
        to right,
        #FFA500,
        #FFD700,
        #FFFFFF,
        #FFFFFF,
        #FFD700
      );
      background-size: 400%;
      background-position: 0% center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: sunFade 4s ease-in-out forwards;
    }
  
    @keyframes sunFade {
      0% {
        background-position: 0% center;
      }
      100% {
        background-position: 100% center;
      }
    }
  </style>
  <style>
      .snap-container {
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        height: 100vh;
        scroll-snap-type: y mandatory;
      }
  </style>
</Layout>
