---
import { CostellationComponent } from "../angular/components/costellation.component";

const planets = [
  {
    id: 1,
    name: "Angular",
    description: "Framework per applicazioni web moderne e scalabili.",
    html_url: "https://angular.io/",
    image:
      "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/angular.svg?color=fff",
  },
  {
    id: 2,
    name: "React",
    description: "Libreria per la creazione di interfacce utente reattive.",
    html_url: "https://react.dev/",
    image:
      "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/react.svg?color=fff",
  },
  {
    id: 3,
    name: "NestJS",
    description: "Framework backend progressivo per Node.js.",
    html_url: "https://nestjs.com/",
    image:
      "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/nestjs.svg?color=fff",
  },
  {
    id: 4,
    name: "OpenAPI/Swagger",
    description: "Standard per la documentazione e la definizione di API REST.",
    html_url: "https://swagger.io/",
    image:
      "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/swagger.svg?color=fff",
  },
  {
    id: 5,
    name: "MongoDB",
    description: "Database NoSQL orientato ai documenti.",
    html_url: "https://www.mongodb.com/",
    image:
      "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/mongodb.svg?color=fff",
  },
  {
    id: 6,
    name: "SQL",
    description: "Linguaggio standard per la gestione di database relazionali.",
    html_url: "https://en.wikipedia.org/wiki/SQL",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/mysql.svg",
  },
  {
    id: 7,
    name: "Astro",
    description:
      "Framework moderno per la creazione di siti web statici e dinamici.",
    html_url: "https://astro.build/",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/astro.svg",
  },
  {
    id: 8,
    name: "JavaScript",
    description:
      "Linguaggio di scripting per il web, versatile e onnipresente.",
    html_url: "https://developer.mozilla.org/docs/Web/JavaScript",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/javascript.svg",
  },
  {
    id: 9,
    name: "TypeScript",
    description: "Superset di JavaScript tipizzato per applicazioni scalabili.",
    html_url: "https://www.typescriptlang.org/",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/typescript.svg",
  },
  {
    id: 10,
    name: "Node.js",
    description: "Ambiente di esecuzione JavaScript lato server.",
    html_url: "https://nodejs.org/",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/nodedotjs.svg",
  },
  {
    id: 11,
    name: "CSS",
    description: "Linguaggio di stile per la presentazione di documenti web.",
    html_url: "https://developer.mozilla.org/docs/Web/CSS",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/css3.svg",
  },
  {
    id: 12,
    name: "HTML",
    description: "Linguaggio di markup standard per il web.",
    html_url: "https://developer.mozilla.org/docs/Web/HTML",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/html5.svg",
  },
  {
    id: 13,
    name: "SCSS",
    description: "Estensione avanzata di CSS con sintassi SASS.",
    html_url: "https://sass-lang.com/documentation/syntax#scss",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/sass.svg",
  },
  {
    id: 14,
    name: "Capacitor",
    description: "Bridge moderno per app native e web.",
    html_url: "https://capacitorjs.com/",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/capacitor.svg",
  },
  {
    id: 15,
    name: "Strapi",
    description: "Headless CMS open-source per API flessibili.",
    html_url: "https://strapi.io/",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/strapi.svg",
  },
  {
    id: 16,
    name: "Directus",
    description: "Headless CMS e data platform open-source.",
    html_url: "https://directus.io/",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/directus.svg",
  },
  {
    id: 17,
    name: "AWS",
    description: "Amazon Web Services: piattaforma cloud leader di mercato.",
    html_url: "https://aws.amazon.com/",
    image: "https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/amazonaws.svg",
  },
];
---

<div class="tools-container">
  <div class="tools-costellation-container">
    <h2 class="sun-title">MY TOOLS</h2>
    <div class="resize">
      <CostellationComponent
        {...{ planets, angle: 20, randomSize: false } as any}
        client:visible
      />
    </div>
  </div>
  <div class="tools-list">
    {
      planets.map((planet) => {
        return <div class="box">
          <a href={planet.html_url} target="_blank" rel="noopener noreferrer">
            <div class="content">
              <img src={planet.image} alt={planet.name + "_ImageAlt"} />
              {planet.name}
            </div>
          </a>
        </div>;
      })
    }
  </div>
</div>

<style>
  .tools-container {
    padding: 2rem;
    scroll-snap-align: start;
  }
  .tools-costellation-container {
    height: 100vh;
    box-sizing: border-box;
    position: relative;
  }

  .tools-list {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    box-sizing: border-box;
    align-content: flex-start;
    justify-content: start;
  }

  .tools-list img{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    filter: invert(1) brightness(2);
  }
  .tools-list a{
   text-decoration: none;
   color: white;
  }

  .tools-list .content{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
  }
  h2 {
    margin-bottom: 0;
    position: absolute;
    top: 2rem;
    width: calc(100% - 4rem);
    left: 50%;
    transform: translateX(-50%);
  }
  .tools-costellation-container > .resize {
    scale: 0.7;
    height: 100%;
  }
</style>

<style is:global>
  .tools-costellation-container img {
    filter: invert(1) brightness(2);
  }
</style>
