---
import { CostellationComponent } from "../angular/components/costellation.component";
import GoDown from "./goArrow.astro";

const planets = [
  {
    id: 1,
    name: "Angular",
    description: "Framework for modern and scalable web applications.",
    html_url: "https://angular.io/",
    image:
      "https://cdn.simpleicons.org/angular/ffffff",
  },
  {
    id: 2,
    name: "React",
    description: "Library for building reactive user interfaces.",
    html_url: "https://react.dev/",
    image:
      "https://cdn.simpleicons.org/react",
  },
  {
    id: 3,
    name: "NestJS",
    description: "Progressive backend framework for Node.js.",
    html_url: "https://nestjs.com/",
    image:
      "https://cdn.simpleicons.org/nestjs",
  },
  {
    id: 4,
    name: "OpenAPI/Swagger",
    description: "Standard for documentation and definition of REST APIs.",
    html_url: "https://swagger.io/",
    image:
      "https://cdn.simpleicons.org/swagger",
  },
  {
    id: 5,
    name: "MongoDB",
    description: "Document-oriented NoSQL database.",
    html_url: "https://www.mongodb.com/",
    image:
      "https://cdn.simpleicons.org/mongodb",
  },
  {
    id: 6,
    name: "SQL",
    description: "Standard language for managing relational databases.",
    html_url: "https://en.wikipedia.org/wiki/SQL",
    image: "https://cdn.simpleicons.org/mysql",
  },
  {
    id: 7,
    name: "Astro",
    description:
      "Modern framework for building static and dynamic websites.",
    html_url: "https://astro.build/",
    image: "https://cdn.simpleicons.org/astro",
  },
  {
    id: 8,
    name: "JavaScript",
    description:
      "Versatile and ubiquitous scripting language for the web.",
    html_url: "https://developer.mozilla.org/docs/Web/JavaScript",
    image: "https://cdn.simpleicons.org/javascript",
  },
  {
    id: 9,
    name: "TypeScript",
    description: "Typed superset of JavaScript for scalable applications.",
    html_url: "https://www.typescriptlang.org/",
    image: "https://cdn.simpleicons.org/typescript",
  },
  {
    id: 10,
    name: "Node.js",
    description: "Server-side JavaScript runtime environment.",
    html_url: "https://nodejs.org/",
    image: "https://cdn.simpleicons.org/nodedotjs",
  },
  {
    id: 11,
    name: "CSS",
    description: "Style language for presenting web documents.",
    html_url: "https://developer.mozilla.org/docs/Web/CSS",
    image: "https://cdn.simpleicons.org/css",
  },
  {
    id: 12,
    name: "HTML",
    description: "Standard markup language for the web.",
    html_url: "https://developer.mozilla.org/docs/Web/HTML",
    image: "https://cdn.simpleicons.org/html5",
  },
  {
    id: 13,
    name: "SCSS",
    description: "Advanced extension of CSS with SASS syntax.",
    html_url: "https://sass-lang.com/documentation/syntax#scss",
    image: "https://cdn.simpleicons.org/sass",
  },
  {
    id: 14,
    name: "Capacitor",
    description: "Modern bridge for native and web apps.",
    html_url: "https://capacitorjs.com/",
    image: "https://cdn.simpleicons.org/capacitor",
  },
  {
    id: 15,
    name: "Strapi",
    description: "Open-source headless CMS for flexible APIs.",
    html_url: "https://strapi.io/",
    image: "https://cdn.simpleicons.org/strapi",
  },
  {
    id: 16,
    name: "Directus",
    description: "Open-source headless CMS and data platform.",
    html_url: "https://directus.io/",
    image: "https://cdn.simpleicons.org/directus/ffffff",
  },
  // {
  //   id: 17,
  //   name: "AWS",
  //   description: "Amazon Web Services: piattaforma cloud leader di mercato.",
  //   html_url: "https://aws.amazon.com/",
  //   image: "https://cdn.simpleicons@v11.org/amazonaws",
  // },
  {
    id: 18,
    name: "Docker",
    description: "Platform for application containerization.",
    html_url: "https://www.docker.com/",
    image: "https://cdn.simpleicons.org/docker",
  },
  {
    id: 19,
    name: "Git",
    description: "Distributed version control system.",
    html_url: "https://git-scm.com/",
    image: "https://cdn.simpleicons.org/git",
  },
  {
    id: 20,
    name: "GitHub",
    description: "Hosting platform for Git projects.",
    html_url: "https://github.com/",
    image: "https://cdn.simpleicons.org/github/ffffff",
  },
  {
    id: 21,
    name: "Vite",
    description: "Ultra-fast build tool for modern web projects.",
    html_url: "https://vitejs.dev/",
    image: "https://cdn.simpleicons.org/vite",
  },
];
---

<div id="tools" class="tools-container">
  <div class="tools-costellation-container">
    <h2 class="sun-title">MY TOOLS</h2>
    <div class="resize">
      <CostellationComponent
        {...{ planets, angle: 30, randomSize: false } as any}
        client:visible
      />
    </div>
    <GoDown href="#tools-list"></GoDown>
  </div>
  <div id="tools-list" class="tools-list">
    {
      planets.map((planet) => {
        return (
          <div class="box">
            <a href={planet.html_url} target="_blank" rel="noopener noreferrer">
              <div class="content">
                  <img src={planet.image} alt={planet.name + "_ImageAlt"} />
                <h3>
                  {planet.name}
                </h3>
              </div>
            </a>
          </div>
        );
      })
    }
  </div>
</div>

<style>
  .tools-container {
    padding: 2rem;
  }
  .tools-costellation-container {
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    scroll-snap-align: start;
  }

  .tools-list {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    box-sizing: border-box;
    align-content: flex-start;
    justify-content: start;
    scroll-snap-align: start;
  }

  .tools-list img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }

  .tools-list h3 {
    margin: 0;
    font-size: 2rem;
  }

  .tools-list .content {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
  }
  h2 {
    margin-bottom: 0;
    position: absolute;
    top: 2rem;
    width: calc(100% - 4rem);
    left: 50%;
    transform: translateX(-50%);
  }
  .tools-costellation-container > .resize {
    scale: 0.7;
    height: 100%;
  }
</style>
